interactions:
- request:
    body: '{"index":{"_id":"libguides:guides-175846","_index":"test-index"}}

      {"source":"LibGuides","source_link":"https://libguides.mit.edu/materials","timdex_record_id":"libguides:guides-175846","title":"Materials
      Science & Engineering","citation":"Phoebe Ayers. Materials Science & Engineering.
      MIT Libraries. libguides. https://libguides.mit.edu/materials","content_type":["libguides"],"contributors":[{"value":"Phoebe
      Ayers","kind":"Creator"}],"dates":[{"kind":"Created","value":"2008-06-19T17:55:27"}],"format":"electronic
      resource","identifiers":[{"value":"oai:libguides.com:guides/175846","kind":"OAI-PMH"}],"links":[{"url":"https://libguides.mit.edu/materials","kind":"LibGuide
      URL","text":"LibGuide URL"}],"publishers":[{"name":"MIT Libraries"}],"subjects":[{"value":["Engineering","Science"],"kind":"Subject
      scheme not provided"}],"summary":["Useful databases and other research tips
      for materials science."],"timdex_provenance":{"source":"libguides","run_date":"2025-05-07","run_id":"85cfe316-089c-4639-a5af-c861a7321493","run_record_offset":0}}

      {"index":{"_id":"libguides:guides-175847","_index":"test-index"}}

      {"source":"LibGuides","source_link":"https://libguides.mit.edu/c.php?g=175847","timdex_record_id":"libguides:guides-175847","title":"NTSB
      Reports","citation":"Barbara Williams. NTSB Reports. MIT Libraries. libguides.
      https://libguides.mit.edu/c.php?g=175847","content_type":["libguides"],"contributors":[{"value":"Barbara
      Williams","kind":"Creator"}],"dates":[{"kind":"Created","value":"2008-06-24T04:29:10"}],"format":"electronic
      resource","identifiers":[{"value":"oai:libguides.com:guides/175847","kind":"OAI-PMH"}],"links":[{"url":"https://libguides.mit.edu/c.php?g=175847","kind":"LibGuide
      URL","text":"LibGuide URL"}],"publishers":[{"name":"MIT Libraries"}],"subjects":[{"value":["Engineering"],"kind[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://localhost:9200/test-index/_refresh
  response:
    body:
      string: '{"_shards":{"total":2,"successful":1,"failed":0}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
