[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
click = "*"
ijson = "*"
opensearch-py = "*"
rich-click = "*"
sentry-sdk = "*"
smart-open = {extras = ["s3"], version = "*"}

[dev-packages]
black = "*"
boto3-stubs = "*"
coveralls = "*"
freezegun = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
timdex-dataset-api = { git = "git+https://github.com/MITLibraries/timdex-dataset-api.git"}
vcrpy = "*"

[requires]
python_version = "3.12"

[scripts]
tim = "python -c \"from tim.cli import main; main(prog_name='tim')\""
