[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
click = "*"
ijson = "*"
opensearch-py = "*"
rich-click = "*"
sentry-sdk = "*"
smart-open = {extras = ["s3"], version = "*"}

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
coveralls = "*"
freezegun = "*"
mypy = "*"
pylama = {extras = ["all"], version = "*"}
pytest = "*"
vcrpy = "*"
# pydocstyle added and pinned until pylama is updated to work with 6.2+, see
# https://github.com/klen/pylama/issues/232
pydocstyle = "==6.1.1"

[requires]
python_version = "3.10"

[scripts]
tim = "python -c \"from tim.cli import main; main(prog_name='tim')\""
